@import "pages/general";
@import 'pages/addons';
@import 'pages/edit';
@import 'pages/base_node_select';
@import "pages/settings";

.input.text {
    overflow: hidden;
}

.input.text label, .input.select label, .input.textarea label {
    width: 130px;
    display: inline-block;
}

.input.textarea label {
    vertical-align: top;
}

.input.text label:after, .input.select label:after, .input.textarea label:after {
    content: ": ";
}

.input.radio input {
    /*margin-left: 130px;*/
    margin-right: 10px;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

/* Input after input */
.input .input{
    display: inline;
}

.input .input label{
    width: auto;
    margin-right: 10px;
}

.validation_msg {
    margin-left: 130px;
    color: #dd3d36;
}
.form-error input{
    border: 1px solid #dd3d36 !important;
}
.form-error label{
    color: #dd3d36;
}

.jci-node-group-tabs {
    text-transform: capitalize;
}

div.form-actions .input {
    float: left;
    margin-right: 10px;
}

#jci-table-wrapper {
    max-height: 390px;
    overflow-y: auto;
}

.jci-add-section {
    margin-bottom: 40px;
}