$height: 30px;

.iwp-progress {
  &__wrapper {
    width: 100%;
    height: $height;
    margin-bottom: 20px;
  }
  &__inner {
    width: 100%;
    border: 1px solid #e2e2e2;
    position: absolute;
    height: $height;
    box-sizing: border-box;
  }

  &__bar {
    height: $height - 2;
    position: absolute;
    background: #22c48f;
    left: 0;
    top: 0;
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    // color: #22c48f;
    z-index: 1;
    line-height: 30px;
  }
}
