// =======================================
// Base node select modal window styles
// =======================================

.jci-left{
	float:left;
}

.jci-right{
	float:right;
}

.jci-node-select{
	
	margin: -2px -15px -15px -15px;

	.jci-heading{
		overflow: hidden;
		border-bottom: 1px solid #dfdfdf;
		position: relative;
	}

	.jci-footer{
		overflow: hidden;
		border-top: 1px solid #dfdfdf;
	}

	.jci-preview-block{
		overflow-y: scroll;
		width: 94%;
		padding: 0 3%;
		height: 280px;
		background: #fcfcfc;
	}


	#jci-node-selector{
		float:right;
		max-width: 200px;
	}

	#jci-record-count{
		font-weight: bold;
	}

	.jci-heading{
		.jci-left{
			margin-left: 12px;
			padding-right: 250px;
		}

		.jci-right{
			position: absolute;
			right: 12px;
			bottom: 12px;
			float:none;
		}

		p{
			padding: 0;
			margin: 0 0 10px 0;
		}

		h1{
			margin: 10px 0 10px 0;
		}
	}

	.jci-footer{

		p{
			padding:0;
			margin:0;
		}

		.jci-left{
			margin: 12px;
		}

		.jci-right{
			margin: 12px;
		}
	}
}