.importwp-debug-table{
    width: 100%;
    td, th{
        padding: 10px;
        text-align: left;
        border-bottom:1px solid #EEEEEE;
    }
    th{
        width: 190px;
    }
    tr:last-child{
        td,th{
            border-bottom:none;
        }
    }
}

.importwp-pro-upgrade{

    h1{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    ul{
        margin-bottom:40px;
        font-size: 16px;
        line-height: 1.3em;
    }

    li{
        margin-bottom:15px;
        position: relative;
        padding-left: 20px;

        strong{
            font-size: 20px;
        }

        &:before{
            position: absolute;
            height: 100%;
            background-size: contain;
            content: "-";
            font-size: 30px;
            display: inline-block;
            left: 0;
            top: -2px;
            color: #608b60;
        }
    }

    .import-wp-btn{
        display: inline-block;
        padding: 15px 20px 18px;
        border: none;
        background: #608b60;
        color: #FFF;
        font-size:20px;
        text-decoration: none;

        &:hover{
            background: lighten( #608b60, 10% );
        }
    }
}