.iwp-importer-header {
  text-align: center;
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
  color: #23282d;

  small {
    color: #7b8288;
    font-size: 0.6em;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.iwp- {
  &steps {
    text-align: center;
    margin: 1.5em 0 1.5em;
    padding: 0;
  }
  &step {
    display: inline-block;
    padding: 0.4em 1.1em;
    margin: 0 0.5em 0.5em;
    border-radius: 1em;
    background: #e4e6e8;

    &:hover {
      cursor: not-allowed;
    }

    &--complete {
      //   border: 1px solid #e2e4e7;
      background: #fff;

      &:hover {
        cursor: pointer;
      }
    }

    &--active {
      background: #22c48f;
      color: #fff;

      &:hover {
        cursor: default;
      }
    }
  }
}
