.iwp- {
  &header {
    background: #fff;
    border-bottom: 1px solid #e2e4e7;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;

    &__heading,
    h1 {
      display: block;
      font-weight: 600;
      margin: 0 0.8rem 0.8rem;
      font-size: 18px;
      padding: 9px 0 4px 0;
      line-height: 1.3;

      // fix for wonky alignment
      // float: left;
      // width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    small {
      font-size: 9px;
      display: inline-block;
      border-radius: 5px;
      background: #f1f1f1;
      // background: #22c48f;
      // color: #FFF;
      padding: 2px 5px;
      position: absolute;
      margin-top: 17px;
      margin-left: 7px;
    }
  }

  &header__tab {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: box-shadow 0.5s ease-in-out;

    &:focus {
      color: #191e23;
      outline: 1px solid #6c7781;
      box-shadow: none;
      .dashicons {
        color: #191e23;
      }
    }

    &:hover {
      color: #22c48f;
    }

    &--active {
      font-weight: 600;

      &,
      &:focus {
        box-shadow: inset 0 -3px #22c48f;
        outline: none;
      }
    }

    &--icon {
      padding-left: calc(1rem + 25px);
      position: relative;
    }

    .dashicons {
      position: absolute;
      left: 1rem;
      margin-top: -2px;
    }
  }
}

@media only screen  and (max-width: 767px){
  .iwp-header{
    flex-direction: column;
    align-items: center;
  }
}
