@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.iwp- {
  &accordion__block {
    border: 1px solid #e2e2e2;
    border-top: none;
    &--first {
      border-top: 1px solid #e2e2e2;
    }

    .iwp-field {
      @include clearfix;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &block {
    &__handle {
      padding: 8px 10px;
    }
    &__content {
      background-color: #f9f9f9;
      border-top: 1px solid #e2e2e2;
      padding: 0 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @include clearfix;

      p {
        padding: 0;
      }

      .iwp-notice {
        margin-top: 10px;
      }
    }
  }

  &table--logs {
    width: 100%;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-collapse: collapse;

    td,
    th {
      text-align: left;
      border-top: 1px solid #e2e2e2;
      padding-top: 5px;
      padding-bottom: 5px;
      padding: 5px;
    }
    td {
      background-color: #f9f9f9;
    }
    a:hover {
      cursor: pointer;
    }
  }

  &table--logs &table-row {
    text-align: center;
    width: 60px;
    border-right: 1px solid #e2e2e2;
  }

  &table {
    &__wrapper {
      width: 100%;
      overflow: hidden;
      height: auto;
      max-height: 300px;
      &--thin {
        max-width: 400px;
      }
    }
    &--fixed {
      thead {
        display: table;
        overflow: auto;
        width: 100%;
        tr {
          position: relative;
        }
      }
      tbody {
        height: auto;
        max-height: 260px;
        overflow: auto;
        width: 100%;
        display: block;
        tr {
          position: relative;
          display: inline-table;
          width: 100%;
        }
      }
    }
  }
}

.iwp-cron-wrapper {
  margin-bottom: 10px;
}

.iwp-cron-row {
  position: relative;
  padding-bottom: 10px;
  padding-right: 40px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.iwp-cron-row .button-row-del {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
}
