.iwp- {
  &label {
    &--has-tooltip {
      position: relative;
      padding-right: 25px;
      box-sizing: border-box;
      display: block;
      line-height: 1.2;
    }

    &--inline-block {
      display: inline-block !important;
    }

    &__tooltip {
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background: #dedede;
      color: #333;
      display: inline-block;
      line-height: 16px;
      text-align: center;
      font-weight: normal;
      font-size: 12px;

      position: absolute;
      right: 2px;
      top: 8px;
    }
  }

  &preview {
    &--text {
      height: 1.5em !important;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 80%;
    }
  }
}
