// =================================
// About Block
// =================================
.iwp-about__heading{
    font-size: 14px;
    line-height: 1.4;
    padding: 8px 12px;
    margin: 0;
}

.iwp-about__version{
    margin:0;
    padding:10px;
    background: #608b60;
    color: #FFF;
}

.iwp-about hr{
    margin-top: 0;
}