// =================================
// Layout
// =================================

.button.jci-import-edit, .button.button-iwp {
    background: #608b60;
    border-color: #6A996A #4E794E #4E794E;
    -webkit-box-shadow: 0 1px 0 #4E794E;
    box-shadow: 0 1px 0 #4E794E;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #4E794E, 1px 0 1px #4E794E, 0 1px 1px #4E794E, -1px 0 1px #4E794E;

    &:hover {
        background: #739e73;
        border-color: #4E794E;
        color: #fff;
    }
}

.iwp-table{
    border: 1px solid #e2e2e2;
    margin-top:10px;
    width: 100%;
}

.iwp-table th, .iwp-table td{
    padding: 10px;
    text-align: left;
}

.iwp-table__header th{
    border-bottom: 1px solid #e2e2e2;
}

.iwp-table__body tr:nth-child(odd) {
    background-color: #f9f9f9;
}

// =================================
// About Block
// =================================
.iwp-about__heading{
    font-size: 14px;
    line-height: 1.4;
    padding: 8px 12px;
    margin: 0;
}

.iwp-about__desc{
    a {
        color: #333;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.iwp-about__version{
    margin:0;
    padding:10px;
    background: #608b60;
    color: #FFF;
}

.iwp-about hr{
    margin-top: 0;
}

.iwp-error{
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.iwp-error{
    border-left-color: #dc3232;
}

.jci-custom-fields{
    .iwp-error{
        margin-top:20px;
        margin-bottom:20px;
    }
}

.iwp__progress{
    background: #FFF;
    padding: 5px 10px;
    border: 1px solid #c7c7c7;
    margin: 10px 0 0 0;
    display: none;
}