$prefix: '.iwp-';
#{$prefix} {
  &list {
    &--premium {
    }

    &__item {
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 20px;

      &--flip {
        #{$prefix}item {
          &__left {
            float: right;
          }
          &__right {
            float: left;
          }
        }
      }
    }
  }

  &item {
    &__left,
    &__right {
      float: left;
    }

    &__left {
      width: 40%;
    }
    &__right {
      width: 60%;
    }

    &__content {
      padding: 20px 40px 0;
      text-align: left;
    }
  }

  &img {
    &__responsive {
      width: 100%;
      height: auto;
    }
  }

  &buttons--center {
    text-align: center;
    margin-top: 20px;
  }

  &button {
    &--buy {
      color: #22c48f;
      // background: #fff;
      border: 1px solid #22c48f;
      padding: 25px 100px;
      font-size: 30px;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      &:hover {
        background: #22c48f;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #{$prefix} {
    &list {
      #{$prefix}item {
        &__left,
        &__right {
          display: block;
          float: none;
          width: 100%;
        }

        &__content {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    &button {
      &--buy {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
}
